
.text, .title {
  font-size: 17px;
  color: rgb(77, 17, 17);
  margin-bottom: 0ch; 
}
.title {
  font-family: serif;
  font-weight: 700;
  margin-top: 17px; 
}
.making-row {
    display: flex;
    flex-direction: row;
}
.separate-two-side {
    justify-content: space-between
}
.width-option {
  margin-top: 17px;
  width: 51px;
}
.website-title-text {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 20px;
  text-align: left;
  margin-top: 10px; 
}
.account-pan-right {
  justify-content: space-between;
  align-content: center;
  margin-top: 15px; 
}
.center-text {
  text-align: center;
}
.text-pointer {
    cursor: pointer;
}

